@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Mota+Italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@font-face {
    font-family: SSFD;
    src: url("./fonts/thin.ttf");
}

 @font-face {
    font-family: SSFD;
    src: url("./fonts/ultra.ttf");
    font-weight: 100;
}

 @font-face {
    font-family: SSFD;
    src: url("./fonts/regular.ttf");
    font-weight: bold;
}


body {
  font-size: 16px;
  color: white;
  background-color: #fff; /*#FDF3E7*//*#e7ebf0;#FFF8DC;*/
  font-family: 'Oxygen', sans-serif;
  
}

hr{
  border-color: blue;
  width: 50%;

}

`

#logo-img {
  background: url('img/logo451.gif') no-repeat;
  width: 46px;
  height: 46px;
  margin-top: 5px;
  margin-left:10px;
  margin-right: 0px; 
}

#header-nav {
  background-color: #222; /*#C63D0F  ;*/
  border-radius: 0;
  border: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: white; 
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: center;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#header-nav > .container {
  margin-right: 0px;
}

#nav-list a{
  color: #e6563e;
  font-weight: bold;
  font-size: 0.9em;
}

#nav-list a:hover {
  color: black;
  background: white;
}

.navbar-header { /*button.navbar-toggle 
  border: 1px solid white;*/
  background-color: #222;
}

.navbar-header .icon-bar {
  border: 1px solid white;
}




/*BODY*/

 #godown{
   height: 60px;
}


.nt{
  font-size: 1.3em;
}
.pos {
  
 }
#main-content {
  line-height: 2;
  border-radius: 20px;
  color: #fff;
}

#cname{
  font-size: 4em;
  font-family: SSFD;
  color: #4daaff;
}

#mathdp{
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  font-family: Merriweather;
}

#mathcl{
  font-weight: bold;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  font-family: Jura;
  color: #FFA500;
}

#org{
    color: #4dadfe;;
    font-size: 2.2em;
    font-weight: bold;
    font-family: SSFD;
}

#sco{
  color: white;
  font-size: 3.3em;
  font-weight: bold;
  font-family: 'Bree Serif';
}

#countdown{
  text-align: center;
}
#cntdn{
  border-radius: 15px;
  text-align: center;
  color: #212121;
  overflow-y: hidden;
  position: relative;
}

.menu-description {
  background-color: white;
  border: 1px solid black;
  color: #036;
  margin-bottom: 20px;
}

.menu-description > p {
  padding:20px;
}

#Events {
  background: url("./img/blacktexture1.jpg");
  border-radius: 20px;
  color: #fff;
  margin-bottom: 50px;
}

#About{
  background: url("./img/blacktexture1.jpg");
  border-radius: 20px;
  color: #fff;
  margin-bottom: 10px;
}

#Venue{
  background: url("./img/blacktexture1.jpg");
  border-radius: 20px;
  color: #fff;
  margin-bottom: 50px;
}

#ssn-logo{
  border-radius: 8px;
}

#Register{
  background: url("./img/blacktexture1.jpg");
  border-radius: 20px;
  color: #fff;
  margin-bottom: 50px;
}

#Sched{
  background: url("./img/blacktexture1.jpg");
  border-radius: 20px;
  color: #fff;
  margin-bottom: 50px;
}




#About  p {
  color: white;
  font-size: 1.0em;
  font-weight: bold;
}

.up{
  font-family: SSFD;
  font-size: 3em;
  padding-top: 30px;
  font-weight: bold;
  color: #4dadfe; 
}

 #map-tile {
  height: 350px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.category-tile { 
  overflow: hidden;
  width: 260px;
  height: 365px;
  padding: 20px 30px;
  margin: 0 auto 15px;
  color:#fff!important;
  background-color:#2196F3!important;
  border-radius: 23px;
}


.category-tile p {  
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #000;
}

.row a {
  text-decoration: none;
}

.dimg {
  border-radius: 9px;
}

.cc{
  
  border-radius: 5px;
  width: 30%;
}

#Sponsors{
  background: url("./img/blacktexture1.jpg");
  border-radius: 20px;
  color: #fff;
  margin-bottom: 50px;
  padding-bottom: 20px;
}


#Contact{
  background: url("./img/blacktexture1.jpg");
  border-radius: 20px;
  color: #fff;
  margin-bottom: 50px;

}

footer{
  background: url("./img/blacktexture1.jpg");
  border-radius: 0px;
  color: #81a0ff;
  font-size: 1.3em;
}

/*
#grid{
  width:20%;
  border-radius: 23px;
  margin: 35px;

}

 MENU CATEGORIES PAGE 
.category-tile { 
  text-align: center;
  width: 0%;
}
#grid span {
  /*position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

#grid:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
*/
/*

#menu-categories-title + div {
  margin-bottom: 50px;
}

*/
@media (min-width: 992px){

  body{
    background: url('img/1920.jpg');
  }

  #cube-logo{
    background: url('img/logo1001.gif') no-repeat;
    width: 100px;
    height: 131px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  body{
    background: url('img/1280.jpg');
  } 
  .up{
    font-size: 2em;
  }
  #navname{
    font-size: 0.95em;
  }
  #godown{
   height: 89px;
  }
  #main-content {
    line-height: 1.5;
    border-radius: 20px;
    color: #fff;
  }
  #cube-logo{
    background: url('img/logo1001.gif') no-repeat;
    width: 100px;
    height: 131px;
  }
  #cname{
    font-size: 3em;
  }

  #mathdp{
    font-size: 1.8em;
  }

  #mathcl{
    font-size: 1.8em;
  }

  #org{
    font-size: 1.5em;
  }

  #sco{
    font-size: 2em;
  }
}

@media (min-width: 570px) and (max-width: 767px){
  body{
    background: url('img/1280.jpg');
  }
  #navname{
    font-size: 1em;
  }
  .up{
    font-size: 1.8em;
  }
  #godown{
   height: 60px;
  }
  #main-content {
    line-height: 1.7;
    border-radius: 20px;
    color: #fff;
  }

  #cube-logo{
    background: url('img/logo1001.gif') no-repeat;
    width: 100px;
    height: 131px;
  }
  #cname{
    font-size: 2.5em;
  }

  #mathdp{
    font-size: 1.6em;
  }

  #mathcl{
    font-size: 1.4em;
  }

  #org{
    font-size: 1.1em;
  }

  #sco{
    font-size: 2em;
  }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 569px) {
  body{
    background: url('img/320.jpg');
  }
  p{
    font-size: 0.8em;
  }
  .up{
    font-size: 1.4em;
  }
   #navname{
    font-size: 0.9em;
  }
  #main-content {
    line-height: 1.7;
  }
  #cube-logo{
    background: url('img/logo451.gif') no-repeat;
    width: 45px;
    height: 59px;
  }

 /*
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
*/

/*
.category-tile { 
  
  border: 2px solid #f22;#3F0C1F;

  overflow: hidden;
  width: 260px;
  height: 365px;
  margin: 30px 30px 30px 30px;
  padding: 50px 30px;

  color:#fff!important;
  background-color:#2196F3!important;
  border-radius: 23px;
}
*/
  #cname{
    font-size: 2.1em;
  }

  #mathdp{
    font-size: 1.4em;
  }

  #mathcl{
    font-size: 1.4em;
  }

  #org{
    font-size: 1.1em;
  }

  #sco{
    font-size: 1.8em;
  }
  .col-xxs-12 {

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: center;
    width: 100%;

  }
}